<!DOCTYPE html>
<html lang="es">
<!-- CABECERA DE LA PAGINA-->
     <head>
	     <title>Pagina de inicio de sesion</title>
	     <meta charset="UFT-8">
	     <meta name="viewport" content="width=device-width, user-scalable=no,
	     initial-scale=1,maximum-sacale=1,munumym.scale=1">
		 <!-- ETIQUETA PARA LLAMAR ESTILOS CSS-->
	     <link rel="stylesheet" href="css/estilos.css">
	<!-- ETIQUETA PARA LLAMAR LAS VALIDACIONES JAVA SCRIPT-->	 
	<script src="js/validationIndex.js"></script>

</head> 

<!-- INICIO CUERPO DE LA PAGINA-->
<body class="body0"> 

	<!--* <form ETIQUETA PARA UTILIZAR FORMULARIOS   
		* action="menu.html" esta funcion se encarga de abrir la nueva Pagina
		* method="post" esta funcion se encarga de recopilar todos los datos del formulario y sean procesados 
	por las funciones get o set (getElementById)-->
	<form action="menu.html" method="post" onsubmit="return ValidationEvent()">
		<!-- la funcion onsubmit="return ValidationEvent() se encarga de ir al java script "js/validationIndex.js"
			 y validdar los campos, alli pueden ver las validacciones-->
		<h2>Inicie Sesión</h2>
		<!-- ETIQUETAS CONTENEDORAS <div  la funcion  class="cuerpo"> es llamada en los estilos CSS para realizar 
			el Maquetado de la Pagina -->
		<div class="cuerpo">
		<label>Usuario :</label>
		<!-- ETIQUETA DE CAPTURA DE DATOS POR PANTALLA-->
		<input id="name" name="nombre" placeholder="Nombre" type="text">
		<label>Contraseña :</label>
		<input id="password" name="contrasena" placeholder="password" type="password">
		<input type="submit" value="Ingresar">
		</div>
		<center><span>Para Su Password Utilice Mayusculas</span></center>
		</form>
  </body>
</html>
