<!DOCTYPE html>
<html lang="es">
<head>
	<title>Menú</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,maximum-sacale=1,munumym.scale=1">
	<link rel="stylesheet" href="../assets/css/estilos.css"> 
</head>

<body class="body1">
		<header>
				<input type="checkbox" id="btn-menu">
				<label for="btn-menu"><img src="iconomenu.jpg" alt=""> </label>
			<nav class="menu">
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    ...
                    <li role="separator" class="divider" >
                    ...
					<!-- ETIQUETA  PARA CREAR LOS ITEM DEL MENU -->
					<li><a href="usuarios.html">Usuarios</a></li>
					<li><a href="domiciliarios.html">Domiciliarios</a></li>
					<li><a href="administrador.html">Administrador</a></li>
					
				</ul>	
			</nav>
		</header>
		
 <!-- FORMULARIO PARA VOLVER AL INDEX-->
 <div class="container">
    <form class="form2"><h2>¡Bienvenido!</h2>
		<center><a href="index.html">salir</a></center>
</div>
	</form>
  </body>
</html>
