<!DOCTYPE html>
<html lang="es">
     <head>
	     <title>Productos</title>
	     <meta charset="UFT-8">
	     <meta name="viewport" content="width=device-width, user-scalable=no,
	     initial-scale=1,maximum-sacale=1,munumym.scale=1">
	     <link rel="stylesheet" href="css/estilos.css">
	 <script src="js/validation_productos.js"></script>
</head> 
<body class="body1"> 
     <form action="index.html" method="post" enctype="text/plain" onsubmit="return ValidationEvent()">

        <h2>Esta es la página para los productos </h2>
		<input type="text" placeholder="Ingrese el nombre del Producto" name="Producto" id="producto">
		fecha ingreso
	    <input type="date" placeholder="Ingrese su fecha de producción" name="date" id="date">
		fecha vencimiento
	    <input type="date" placeholder="Ingrese su fecha de vencimiento" name="datev" id="datev">
		
	    <input type="text" placeholder="Ingrese su codigo" name="codigo" id="codigo">
	    <input type="text" placeholder="Ingrese lugar de producción" name="lugar" id="lugar">


	    <center><a href="menu.html">Volver</a></center>
		<center><input type="submit" value="Ingresar"><center>
	</form>
  </body>
</html>