<!DOCTYPE html>
<html lang="es">
     <head>
	     <title>registrate</title>
	     <meta charset="UFT-8">
	     <meta name="viewport" content="width=device-width, user-scalable=no,
	     initial-scale=1,maximum-sacale=1,munumym.scale=1">
	     <link rel="stylesheet" href="css/estilos.css">
	 <script type="text/javascript" src="js/validation_registro.js"></script>
</head> 
<body class="body1"> 
     <form action="index.html" method="post" enctype="text/plain" onsubmit="return ValidationEvent();">

        <h2>Esta es la página para registrarse </h2>
		<input type="text" placeholder="Ingrese su usuario" name="usuario" id="usuario">
	    <input type="password" placeholder="Ingrese su contraseña" name="password" id="password">
	    <center><a href="index.html">Volver</a></center>
		<center><input type="submit" value="Ingresar"><center>
	</form>
  </body>
</html>
